/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of CSS Reset */

/* ================== */
/* Font Face          */
/* ================== */

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Inter-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/Inter-Italic.ttf") format("truetype");
}

/* styles.css */

:root {
  /* Default color: dark */
  --background-color: rgba(18, 11, 60, 1);
  --background-color-inverted: #ffffff;
  --background-color-translucent: rgba(18, 11, 60, 0.7);
  --invisible-border: #120b3c;
  --player-one: #15f9cd;
  --player-one-darker: #006670;
  --player-two-darker: #906a11;
  --ship-sunk: #463897;
  --player-two: #ffd568;
  --border-color: #4a4086;
  --unselected: #4a4086;
  --font-size-base: 16px;
  --sinking: #ff4949;
}

body {
  background-color: var(--background-color);
  font-family: inter;
  display: flex;
  justify-content: center;
}

dialog {
  width: 400px; /* Default for desktop */
  max-width: 90%; /* Ensures it doesn’t shrink too much on smaller screens */
  border-radius: 1rem;
  overflow: visible;

  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.45) 0%,
      rgba(255, 255, 255, 0.45) 100%
    ),
    #5c6de0;
  background-blend-mode: soft-light, normal;
  border: 6px solid #262067;
}

.game-dialog__interactive-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(255, 255, 255, 0.25) 100%
    ),
    #38469e;
  background-blend-mode: soft-light, normal;
  border-radius: inherit;
}
.game-dialog__button-container {
  display: flex;
  gap: 1rem;
}

.player-one-details,
.player-two-details {
  display: flex;
  align-items: center;
  width: 100%;
}

.player-two-details {
  /*Initial mode is pvc*/
  display: none;
}

.game-dialog label {
  font-weight: 700;
  white-space: nowrap;
}

.player-one-details label {
  color: var(--player-one);
}

.player-two-details label {
  color: var(--player-two);
}

.game-dialog input {
  margin-left: 1rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 5%;
  border: none;
  width: 100%;
}

.game-dialog__button-container button:hover,
.game-dialog button.start-button:hover {
  border: 2.6px solid #ffae02;
}

.game-dialog__button-container button.pvp-mode__button--selected,
.game-dialog__button-container button.pvc-mode__button--selected {
  font-weight: 700;
  color: var(--background-color);
  border-color: #ffae02;
  background: #ffae02;
  border: 2.6px solid #9e6b00;
  font-weight: 700;
}

dialog h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0.5rem;
  text-shadow:
    0px 2.94252px 5.88504px rgba(91, 26, 26, 0.14),
    0px 4.41378px 5.88504px rgba(123, 12, 12, 0.12),
    0px 1.47126px 7.35631px rgba(136, 13, 13, 0.2);
}

dialog h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: #ffffff;
}

.cell-block {
  border: 1.8px solid var(--border-color);
  border-radius: 10%;
  color: white;
}

.game-dialog button {
  border-radius: 1.5rem;
  border: 2.6px solid #161d4c;
  padding: 0.5rem 1rem;
  background: linear-gradient(
      360deg,
      #0088ff -24.54%,
      rgba(255, 255, 255, 0) 100%
    ),
    #2d7dfe;
  background-blend-mode: multiply, normal;
}

.game-dialog button.start-button {
  position: absolute;
  width: 40%;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%);
}

.game-dialog button.start-button:active {
  transform: translate(-50%) scale(0.9);
}

.pvp-mode__button--selected,
.pvc-mode__button--selected {
  border: 2px solid black;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: white;

  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.row {
  display: flex;
  gap: 5.46px;
}

.container-1,
.container-2 {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.game-board-container-1,
.game-board-container-2 {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  margin: 1rem 0 3rem 0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(10, 8%);
  grid-template-rows: repeat(10, 8%);
  justify-content: space-between;
  align-content: space-between;
  aspect-ratio: 1/1;

  border: 2px solid var(--border-color);
  padding: 3%;
  border-radius: 3%;
  transition: border-color 0.5s;
}

.game-board-container-1 .current-turn {
  border-color: var(--player-two);
}

.game-board-container-2 .current-turn {
  border-color: var(--player-one);
}

.post-game-menu-1,
.post-game-menu-2 {
  position: absolute;

  width: 100%;
  height: 100%;

  display: none;

  grid-template-columns: 30% 30%;
  grid-template-rows: min-content min-content;
  gap: 1rem;

  align-content: center;
  justify-content: center;

  backdrop-filter: blur(0.1rem); /* Blurs the background behind it */
  -webkit-backdrop-filter: blur(0.1rem); /* Safari support */

  background-color: var(--background-color-translucent);

  border-radius: 3%;

  top: 50%; /* Moves the child 50% from the top of the parent */
  left: 50%; /* Moves the child 50% from the left of the parent */
  transform: translate(
    -50%,
    -50%
  ); /* Offsets the child by half its width and height */
}

.post-game-menu-1 h2,
.post-game-menu-2 h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  grid-column: 1 / 3;
  text-align: center;

  text-shadow: 1px 1px 2px #000000;
}

.post-game-menu-1 button,
.post-game-menu-2 button {
  padding: 0.5rem;
  border: 1px solid var(--background-color-inverted);
  border-radius: 0.25rem;
}

.post-game-menu-1 button:hover {
  border-color: var(--player-one);
  font-weight: 700;
  background-color: var(--background-color);
  color: var(--player-one);
}

.post-game-menu-2 button:hover {
  border-color: var(--player-two);
  font-weight: 700;
  background-color: var(--background-color);
  color: var(--player-two);
}

.controls-container-1,
.controls-container-2 {
  width: 100%;
}

.controls-container__player-label-1,
.controls-container__player-label-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.controls-container__player-label-1 {
  color: var(--player-one);
}

.controls-container__orientation {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.controls-container__orientation > button {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 3%;
  color: var(--unselected);
}

.controls-container-1 .controls-container__orientation > button:hover {
  border-color: var(--player-one);
  color: var(--player-one);
}

.controls-container-1 .controls-container__orientation > button.selected {
  background-color: var(--player-one);
  font-weight: 700;
  color: var(--background-color);
  border-color: var(--player-one);
}

.controls-container-2 .controls-container__orientation > button:hover {
  border-color: var(--player-two);
  color: var(--player-two);
}

.controls-container-2 .controls-container__orientation > button.selected {
  background-color: var(--player-two);
  font-weight: 700;
  color: var(--background-color);
  border-color: var(--player-two);
}

.controls-container__player-label-2 {
  color: var(--player-two);
}

.controls-container__player-guide {
  color: white;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  padding-bottom: 1rem;
}

.cell-block.occupied-1 {
  background-color: #15f9cd;
}

.cell-block.occupied-2 {
  background-color: #ffd568;
}

.ship-buttons__button--selected {
  background-color: var(--border-color);
  color: white;
}

.controls-container__ship-buttons {
  display: grid;
  grid-template-areas:
    "carrier carrier carrier battleship battleship battleship"
    "cruiser cruiser submarine submarine destroyer destroyer";
  margin: 1.25rem 0;
}

.controls-container__ship-buttons button:nth-child(1) {
  grid-area: carrier;
}

.controls-container__ship-buttons button:nth-child(2) {
  grid-area: battleship;
}

.controls-container__ship-buttons button:nth-child(3) {
  grid-area: cruiser;
}

.controls-container__ship-buttons button:nth-child(4) {
  grid-area: submarine;
}

.controls-container__ship-buttons button:nth-child(5) {
  grid-area: destroyer;
}

.ship-buttons button:nth-child(3),
.ship-buttons button:nth-child(4),
.ship-buttons button:nth-child(5) {
  flex-grow: 1;
}

.cell-block__button--ghost-1 {
  background-color: var(--player-one);
  opacity: 0.5;
}

.cell-block__button--ghost-2 {
  background-color: var(--player-two);
  opacity: 0.5;
}

.cell-block__button--ghost-attack-1 {
  border-color: var(--player-two);
}

.cell-block__button--ghost-attack-2 {
  border-color: var(--player-one);
}

.controls-container__ship-buttons > button:hover {
  scale: 1.1;
}

.ship-buttons__button-1,
.ship-buttons__button-2 {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 3%;
}

.ship-buttons__button-2.computer {
  pointer-events: none;
  cursor: not-allowed; /* Optional: To give visual feedback */
}

.ship-buttons__button__visualizer--1,
.ship-buttons__button__visualizer--2 {
  display: flex;
  gap: 5px;
}

.ship-buttons__button__visualizer--1 > div,
.ship-buttons__button__visualizer--2 > div {
  width: 15px;
  aspect-ratio: 1/1;
  border-radius: 10%;
}

.ship-buttons__button__visualizer--1 > div {
  border: 1px solid var(--player-one);
}

.ship-buttons__button-1.placed div > div {
  background-color: var(--player-one);
}

.ship-buttons__button-1.sunk,
.ship-buttons__button-2.sunk {
  color: var(--ship-sunk);
  animation: sinking-text 0.8s steps(5, end);
}

.ship-buttons__button-1.sunk div > div,
.ship-buttons__button-2.sunk div > div {
  background-color: var(--ship-sunk);
  border-color: var(--ship-sunk);
  animation: sinking 0.8s steps(5, end);
}

.ship-buttons__button__visualizer--2 > div {
  border: 1px solid var(--player-two);
}

.ship-buttons__button-2.placed div > div {
  background-color: var(--player-two);
}

.selected {
  background-color: black;
  color: white;
}

.game-container {
  max-width: 1100px;
  width: 90%;
  height: fit-content;
  column-gap: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cell-block.ship-sunk-1,
.cell-block.ship-sunk-2 {
  background-color: var(--ship-sunk);
  border-color: var(--ship-sunk);
}

.attacked-1,
.attacked-2 {
  border-color: var(--invisible-border);
}

.cell-block.attacked-ship-1 {
  background-color: var(--player-two-darker);
  border-color: var(--player-two);
}

.cell-block.attacked-ship-2 {
  background-color: var(--player-one-darker);
  border-color: var(--player-one);
}

.announcer {
  color: white;
  height: 20px;
}

.announcer.game-over-text {
  font-weight: 700;
  font-size: 1.25rem;
  animation: text-fade 2s linear infinite;
}

@keyframes sinking {
  0%,
  19% {
    background-color: var(--sinking);
    border-color: var(--sinking);
  }
  20%,
  39% {
    background-color: var(--background-color-inverted);
    border-color: var(--background-color-inverted);
  }
  40%,
  59% {
    background-color: var(--sinking);
    border-color: var(--sinking);
  }
  60%,
  79% {
    background-color: var(--background-color-inverted);
    border-color: var(--background-color-inverted);
  }
  80%,
  100% {
    background-color: var(--ship-sunk);
    border-color: var(--ship-sunk);
  }
}

@keyframes sinking-text {
  0%,
  19% {
    color: var(--sinking);
  }
  20%,
  39% {
    color: var(--background-color-inverted);
  }
  40%,
  59% {
    color: var(--sinking);
  }
  60%,
  79% {
    color: var(--background-color-inverted);
  }
  80%,
  100% {
    color: var(--ship-sunk);
  }
}

@keyframes text-fade {
  0%,
  100% {
    color: #ff7629; /* original color */
  }
  25%,
  75% {
    color: #fff629; /* changed color */
  }
}

.game-over-effect {
  animation: fill-fade 2s ease-in-out infinite;
  background-color: #ff7629;
}

@keyframes fill-fade {
  0%,
  100% {
    background-color: #ff7629; /* original color */
  }
  25%,
  75% {
    background-color: #fff629; /* changed color */
  }
}

.game-over-effect-border {
  animation: border-fade 2s ease-in-out infinite;
  border-color: #ff7629;
}

@keyframes border-fade {
  0%,
  100% {
    border-color: #ff7629; /* original color */
  }
  25%,
  75% {
    border-color: #fff629; /* changed color */
  }
}

/* Adjust for larger phones and tablets */
@media (max-width: 1024px) {
  dialog {
    width: 60%; /* More flexible */
  }

  .container-1,
  .container-2 {
    width: 80%;
    margin-top: 10rem;
    min-width: 320px;
  }

  .game-container {
    gap: 10%;
  }

  .controls-container-1 button,
  .controls-container-2 button,
  .post-game-menu-1 button,
  .post-game-menu-2 button {
    font-size: 2rem;
  }

  .announcer {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .ship-buttons__button__visualizer--1 > div,
  .ship-buttons__button__visualizer--2 > div {
    width: 30px;
  }

  .controls-container__player-label-1,
  .controls-container__player-label-2,
  .announcer.game-over-text {
    font-size: 2.25rem;
  }
}

/* Adjust for smaller phones */
@media (max-width: 480px) {
  dialog {
    width: 90%; /* Maximizes space */
  }
}
